



.signup-con{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.signup-box{
    width: 80%;
    height: 50%;
    background-color: rgb(255, 255, 255);
    
 
    
}


.col-gradient {
  background: linear-gradient(to bottom right, transparent 60%, #fdb7d2 130%);
}

.signup-form{
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    

}



.signup-form .input-text {
    margin-left: 2px;
    border-radius: 0%;
    border: none;           
    outline: none;          /* Removes the focus outline */
    background: none;       /* Removes background color */
    padding: 0;             /* Removes any padding */
    box-shadow: none;       /* Removes any shadow effects */
    font-family: inherit;   /* Inherits the font from the parent */
    font-size: inherit;  
    border-bottom: 1px solid #f81e1e;   /* Inherits the font size from the parent */
  }


.form-check-label {
  font-size: 12px;
}
