*{
    margin: 0%;
    padding: 0%;
}
.dash-con{
    width: 100vw;
    height: 100vh;
    display: flex;
    background: rgb(255, 255, 255);

}

/* side nav */
.nav-con{
    width: 20%;
    height: 100%;
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgb(255, 197, 238) 0%, rgba(255,255,255,1) 57%, rgba(255,255,255,1) 100%);
    display: flex;
    flex-direction: column;align-items: center;

}
.nav-img{
    width: 100%;
    height: 15%;
    /* background-color: rgb(0, 102, 102); */
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-img img{
    height: 90%;
    object-fit: contain;
    border-radius: 50%;
}
.nav-links{
    width: 100%;
    height: 85%;
    /* background-color: aqua;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
}
.nav-links a{
    width: 95%;
    padding: 10px 0px;
    text-align: center;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 700;
    color: #000000;
}
.nav-links a:hover{
    background-color: hotpink;
    background: linear-gradient(90deg, rgba(255, 81, 17, 0.5) 0%, rgba(255,28,225,0.5) 100%);
    
}
.nav-links a.active{
    background-color: hotpink;
    background: linear-gradient(90deg, rgba(255, 81, 17, 1) 0%, rgba(255,28,225,1) 100%);
    color: rgb(255, 255, 255);
}

/* board */
.dash-board{
    width: 80%;
    height: 100%;
}
.dash-header{
    width: 100%;
    height: 10%;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1px 10px;
}
.dash-header .header-title{
    width: 30%;
    height: 100%;
    font-size: 2.5rem;
    color: rgb(217, 30, 123);
    display: flex;
    align-items: center;
    padding: 0px 5px;
    /* background-color: #3697ff; */
}
.dash-header .header-title h1{
    font-weight: 700;
    color: hotpink;
    margin: 0%;
}
.header-user{
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* background-color: brown; */
    padding: 0px 10px;
}
.noti{
    width: 15%;
    height: 100%;
    /* background-color: rgb(52, 103, 103); */
    display: flex;
    justify-content: center;
    align-items: center;
}
.noti .bell-con{
    width: 70%;
    height: 70%;
    color: hotpink;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: ease-in 0.5s;
}
.noti .bell-con:hover{
    background-color: #ff60b2ca;
    color: white;
}
.admin-profile{
    /* width: 75%; */
    height: 100%;
    /* background-color: aqua; */
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    padding: 1px 10px;
    gap: 5px;
}
.admin-profile img{
    height: 70%;
    border-radius: 50%;
    object-fit: contain;
    border: 1px solid rgba(0, 0, 0, 0.601);
}
.admin-profile p{
    height: 100%;
    /* background-color: rgb(18, 58, 58); */
    display: flex;
    align-items: center;
    margin: 0%;
}
.dash-body{
    width: 100%;
    height: 90%;
    background-color: rgba(236, 236, 236, 0.877);
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.col-one, .col-two{
    width: 49%;
    height: 96%;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}


/* Order Summary */
.todays-order{
    width: 96%;
    height: 32%;
    background: #ffffff;
    box-shadow:  2px 2px 5px #f1f1f1,
                 -2px -2px 5px #c2c2c2;
    border-radius: 10px;
    padding:  10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.header{
    width: 100%;
    height: 22%;
    /* background-color: brown; */
    display: flex;
    justify-content: space-between;
}
.header .title{
    display: flex;
    flex-direction: column;
    line-height: 0.1;
}
.header .title p{
    line-height: 0.1;
    font-size: 0.7rem;
}
.header .see-all{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.see-all button{
    width: 90%;
    height: 85%;
    background-color: white;
    border: 1px solid black;
    border-radius: 7px;

}
.title p{
    color: #535353;
}
.summ{
    width: 100%;
    height: 78%;
    /* background-color: burlywood; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.summ strong{
    font-size: 9pt;
    color: black;
}
.summ p{
    color: #535353;
    font-size: 0.5rem;
}
.delivered{
    width: 19%;
    height: 98%;
    padding: 5px;
    border-radius: 10px;
    line-height: 0.8;
    background-color: rgb(127, 255, 150);
}
.delivered div{
    width: 30%;
    height: 40%;
    display: flex;
    justify-content: start;
    align-items: center;
}
.delivered div i{
    padding: 5px;
    background-color: rgb(101, 232, 125);
    color: rgb(17, 89, 30);
    border-radius: 50%;
    font-size: 18pt;
}
.pending{
    width: 19%;
    height: 98%;
    padding: 5px;
    border-radius: 10px;
    line-height: 0.8;
    background-color: rgb(127, 163, 255);
}
.pending div{
    width: 30%;
    height: 40%;
    display: flex;
    justify-content: start;
    align-items: center;
}
.pending div i{
    padding: 5px;
    background-color: rgb(101, 121, 232);
    color: rgb(40, 17, 89);
    border-radius: 50%;
    font-size: 18pt;
}

.intransit{
    width: 19%;
    height: 98%;
    padding: 5px;
    border-radius: 10px;
    line-height: 0.8;
    background-color: rgb(127, 189, 255);
}
.intransit div{
    width: 30%;
    height: 40%;
    display: flex;
    justify-content: start;
    align-items: center;
}
.intransit div i{
    padding: 5px;
    background-color: rgb(101, 166, 232);
    color: rgb(17, 43, 89);
    border-radius: 50%;
    font-size: 18pt;
}

.cancelled{
    width: 19%;
    height: 98%;
    padding: 5px;
    border-radius: 10px;
    line-height: 0.8;
    background-color: rgb(255, 127, 127);
}
.cancelled div{
    width: 30%;
    height: 40%;
    display: flex;
    justify-content: start;
    align-items: center;
}
.cancelled div i{
    padding: 5px;
    background-color: rgb(232, 105, 101);
    color: rgb(89, 17, 17);
    border-radius: 50%;
    font-size: 18pt;
}

.returned{
    width: 19%;
    height: 98%;
    padding: 5px;
    border-radius: 10px;
    line-height: 0.8;
    background-color: rgb(255, 249, 127);
}
.returned div{
    width: 30%;
    height: 40%;
    display: flex;
    justify-content: start;
    align-items: center;
}
.returned div i{
    padding: 5px;
    background-color: rgb(232, 219, 101);
    color: rgb(89, 89, 17);
    border-radius: 50%;
    font-size: 18pt;
}

/* Customer Insight */
.customer-insight{
    width: 96%;
    height: 36%;
    background: #ffffff;
    box-shadow:  2px 2px 5px #f1f1f1,
                 -2px -2px 5px #c2c2c2;
    border-radius: 10px;
    padding: 10px;
}
.line-chart{
    width: 100%;
    height: 78%;
    /* background-color: aquamarine; */
}

/* Sales and Orders */
.sales-orders{
    width: 96%;
    height: 36%;
    background: #ffffff;
    box-shadow:  2px 2px 5px #f1f1f1,
                 -2px -2px 5px #c2c2c2;
    border-radius: 10px;
    padding: 10px;
}
.bar-chart{
    width: 100%;
    height: 78%;
    /* background-color: aquamarine; */
}



/* Payment Insight */
.payment-insight{
    width: 96%;
    height: 31%;
    background: #ffffff;
    box-shadow:  2px 2px 5px #f1f1f1,
                 -2px -2px 5px #c2c2c2;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.two-col {
    width: 96%;
    height: 25%;
   
    display: flex;
    justify-content: space-around;
    gap: 10px;
}
.avg-orders{
    width: 50%;
    background: #ffffff;
    box-shadow:  2px 2px 5px #f1f1f1,
                 -2px -2px 5px #c2c2c2;
    border-radius: 10px;
    padding: 10px;
}
.area-chart{
    width: 100%;
    height: 78%;
    /* background-color: aquamarine; */
}
.order-processing{
    width: 50%;
    background: #ffffff;
    box-shadow:  2px 2px 5px #f1f1f1,
                 -2px -2px 5px #c2c2c2;
    border-radius: 10px;
    padding: 10px;
   
}
.doughnut-chart{
    width: 100%;
    height: 78%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* background-color: aquamarine; */
}


/* Top Product */
.top-products{
    width: 96%;
    height: 39%;
    background: #ffffff;
    box-shadow:  2px 2px 5px #f1f1f1,
                 -2px -2px 5px #c2c2c2;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.product-table{
    width: 100%;
    height: 85%;
    /* background-color: aquamarine; */

    overflow-x: auto;
}
.product-table table {
    width: 100%;
    border-collapse: collapse;
  }
  
.product-table th, .product-table td {
    padding: 7px;
    text-align: left;
    border-bottom: 1px solid #2828287e;
  }
  
  .product-table th {
    background-color: #ffffff;
    color: #535353;
    font-weight: 500;
  }
  
  .progress-bar {
    height: 10px;
    position: relative;
    width: 100%;
    background-color: #f4f4f4;
    border-radius: 4px;
    
  }
  
  .progress-bar .progress {
    height: 10px;
    background-color: #3697ff;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
  }

.top-products  .header{
    width: 100%;
    height: 15%;
    /* background-color: brown; */
    display: flex;
    justify-content: space-between;
}
.top-products .header .title{
    display: flex;
    flex-direction: column;
    line-height: 0.1;
}
.top-products .header .title p{
    line-height: 0.1;
    font-size: 0.7rem;
}
.top-products .header .see-all{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.top-products .see-all button{
    width: 90%;
    height: 85%;
    background-color: white;
    border: 1px solid black;
    border-radius: 7px;

}
.top-products .title p{
    color: #535353;
}


/* Order Page & Payment Page*/
.admin-order, .admin-payment, .admin-ship{
    width: 96%;
    height: 95%;
    background: #ffffff;
    border-left: 5px solid rgb(217, 30, 123);
    box-shadow:  2px 2px 5px #f1f1f1,
                 -2px -2px 5px #c2c2c2;
    border-radius: 10px;
    padding: 10px;
}

.order-header, .payment-header, .ship-header{
    width: 100%;
    height: 10%;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;

}
.order-search, .payment-search, .ship-search{
    width: 30%;
    /* background-color: blanchedalmond; */

}
.order-options, .payment-options, .ship-options{
    width: 40%;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    gap: 10px;
}
.order-print, .payment-print, .ship-print{
    /* background-color: antiquewhite; */

}
.order-sort, .payment-sort, .ship-sort{

    /* background-color: brown; */
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

}
.order-table, .payment-table, .ship-table{
    width: 100%;
    height: 80%;
    /* background: #3697ff; */
}

/* Product */
.product-con{
    width: 98%;
    height: 95%;
    /* background: #ffffff;
    border-left: 5px solid rgb(217, 30, 123);
    box-shadow:  2px 2px 5px #f1f1f1,
                 -2px -2px 5px #c2c2c2;
    border-radius: 10px; */
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:15px;
}
.product-one{
    width: 100%;
    height: 40%;
    display: flex;
    /* background-color: aqua; */
}
.product-one .top-products{
    width: 50%;
    height: 100%;
    /* background-color: brown; */
    display: flex;
    justify-content: space-between;
}
.product-qty{
    width: 50%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.product-qty > div {
    width: 30%;
    height: 46%;
    border-radius:7px ;
    padding: 5px;
}

.product-qty .qty{
    height: 30%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    gap: 5px;
}
.product-qty:nth-child(1){
    font-size: 0.6rem;

}
.qty h6{
    margin: 0%;
    font-weight: 700;
    /* background-color: #3697ff; */

}

.product-qty .best-selling, .product-qty .unpopular{
    background: #ffffff;
    background: linear-gradient(90deg, rgb(255, 230, 221) 0%, rgb(255, 198, 234) 100%);
}
.best-selling .qty i,.unpopular .qty i{
    font-size: 10pt;
    padding: 5px;
    border-radius: 50%;
    background-color: rgba(255, 105, 180, 0.687);
}

.product-qty .in-stock{
    background-color: rgb(128,199,242);
}
.in-stock .qty i{
    font-size: 10pt;
    padding: 5px;
    border-radius: 50%;
    background-color: rgba(52, 133, 247, 0.687);
}

.product-qty .low-stock{
    background-color: rgb(130,213,176);
}
.low-stock .qty i{
    font-size: 10pt;
    padding: 5px;
    border-radius: 50%;
    background-color: rgba(64, 154, 41, 0.687);
}


.product-qty .out-of-stock{
    background-color: rgb(248,160,161);
}
.out-of-stock .qty i{
    font-size: 10pt;
    padding: 5px;
    border-radius: 50%;
    background-color: rgba(247, 52, 65, 0.687);
}

.product-qty .discontinued{
    background-color: rgb(248,197,122);
}
.discontinued .qty i{
    font-size: 10pt;
    padding: 5px;
    border-radius: 50%;
    background-color: rgba(199, 158, 92, 0.687);
}

.product-two{
    width: 100%;
    height: 60%;
    background: #ffffff;
    border-left: 5px solid rgb(217, 30, 123);
    box-shadow:  2px 2px 5px #f1f1f1,
                 -2px -2px 5px #c2c2c2;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
